
@page "/productlist";
@using BlazorNorthwindUI.Models
@using BlazorNorthwindUI.Services
@inject IProductService ProductService
@inject NavigationManager NavigationManager
<h3>ProductList</h3>

@if (productListViewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Category Id</th>
                <th>Quantity Per Unit</th>
                <th>Unit Price</th>
                <th>Unıts In Stock</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var item in productListViewModel)
                {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryId</td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <th><button class="btn btn-primary btn-sm"  @onclick="@(()=>GoToDetail(item.ProductId))">Güncelle</button></th>

            </tr>
                   
                }
        </tbody>
    </table>
}

@code {
    ProductListViewModel[] productListViewModel;
    protected override async Task OnInitializedAsync()
    {
        productListViewModel = await ProductService.GetProducts();
    }

    void GoToDetail(int productId)
    {
        NavigationManager.NavigateTo("/productdetail/" + productId);
    }
}
